@font-face {
  font-family: 'MinionPro';
  font-style: normal;
  font-weight: italic;
  font-display: swap;
  src: url("../../fonts/MinionPro-Italic.woff2") format("woff2")
}

@font-face {
  font-family: 'MinionPro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/MinionPro-Regular.woff2") format("woff2")
}

@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/OpenSans-Regular.woff2") format("woff2")
}

@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../../fonts/OpenSans-SemiBold.woff2") format("woff2")
}

@font-face {
  font-family: 'Cormorant';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/Cormorant-Italic.woff2") format("woff2")
}

@font-face {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/Cormorant-Regular.woff2") format("woff2")
}

@font-face {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../../fonts/Cormorant-Light.woff2") format("woff2")
} 